
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LvVIP</title>


    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

</head>
<body>

    <form id="formWebATM" method="post" accept-charset="UTF-8"
          action="https://payment-stage.opay.tw/Cashier/AioCheckOut/V5" >
        <div>

            MerchantID 商店代號:
            <input type="text" name="MerchantID" value="2000132" /><br />
            MerchantTradeNo 商店交易編號:
            <input type="text" name="MerchantTradeNo" value="@ViewBag.MerchantTradeNo" /><br />
            MerchantTradeDate 商店交易時間:
            <input type="text" name="MerchantTradeDate" value="@ViewBag.MerchantTradeDate" /><br />
            PaymentType 交易類型:
            <input type="text" name="PaymentType" value="aio" /><br />
            TotalAmount 交易金額:
            <input type="text" name="TotalAmount" value="@ViewBag.Amount" /><br />
            TradeDesc 交易描述:
            <input type="text" name="TradeDesc" value="建立全金流測試訂單" /><br />
            ItemName 商品名稱:
            <input type="text" name="ItemName" value="@ViewBag.ProductName" /><br />
            ReturnURL 付款完成通知回傳網址:
            <input type="text" name="ReturnURL" value="@ViewBag.Url" /><br />
            ChoosePayment 預設付款方式:
            <input type="text" name="ChoosePayment" value="ALL" /><br />
            會員商店代碼:
            <input type="text" name="StoreID" value="" /><br />
            ChooseSubPayment 預設子付款方式:
            <input type="text" name="ChooseSubPayment" value="" /><br />
            ClientBackURL Client端返回廠商網址:
            <input type="text" name="ClientBackURL" value="@ViewBag.Url" /><br />
            CheckMacValue 簽章類型:
            <input type="text" name="EncryptType" value="1" /><br />
            CheckMacValue 檢查碼:
            <input type="text" name="CheckMacValue" value="@ViewBag.SHA256" /><br />
        </div>

        <input type="submit" value="送出訂單" id="savetodb"/>

    </form>
   
    <form id="addToProfitMember">
        fName_ProfitMember:
        <input type="text" name="fName_ProfitMember" /><br />
        fEmail_ProfitMember:
        <input type="text" name="fEmail_ProfitMember" /><br />
        fPhone_ProfitMember:
        <input type="text" name="fPhone_ProfitMember" /><br />
        @*fName_ProfitMember:
        <input type="text" name="fName_ProfitMember" /><br />*@

    </form>
    <script>
     
        $('#formWebATM').submit(function (event) {
           
            //$.ajax({
            //    url: "/Payment/takeOver",
            //    type: "POST",
            //    data: { profitMember: "ss1" },
            //})   

            $("#addToProfitMember").ajaxSubmit({
                type: "POST",
                url: "/Payment/RegisterProfit",
                success: function (re) {

                }, fail: function (failresponse) {

                    console.log(failresponse);
                }

            });
            
           
           
        });

    </script>
</body>
</html>
