@model homepage.ViewModel.CAdDetailVM
@{
    Layout = null;
}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
@*fontAwesome圖示CDN*@
<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet' />
@*sweetAlrt2 CDN*@
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<style>

    body {
        background-image: url("../../Content/灰色背景.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .detailData {
        margin-left:366px;
        margin-top:150px;
        color:whitesmoke;
        border:solid 1px black;
        width:718px;
        border-radius:15px;
        background-color:dimgrey;
    }

    .detailData2 {
        margin-left:385px;
        margin-top:10px;
    }

    .detailData input {
         background-color: lightsteelblue;        
    }

    .TopDiv {
        text-align: right;
        margin-right: 20px;
        margin-top: 8px;
    }

    form {
        margin-left: 365px;
        height: 300px;
        width: 720px;
        background-color: dimgrey;
        border-radius: 15px;
        border: solid 1px black;
    }

    .IMG {
        width: 370px;
        height: 300px;
        border-radius: 15px;
        margin-bottom:200px;
    }

</style>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>newCommercialData</title>
</head>
<body>

    <div class="detailData">
        <div style="display:inline-block">
            <img src="../@Model.fPhoto_Member"/>
        </div>
        <div style="display:inline-block;">
            <div class="TopDiv">
                <label style="font-size:18px;color:whitesmoke;">@Html.ActionLink("回首頁", "Index", "Home", null, new { style = "color:whitesmoke;" })</label>
            </div>
            <div class="detailData2">
                <p style="margin-left:-15px;">
                    <label>廣告ID</label>
                    <input readonly type="text" value="@Model.fId_Ad" />
                </p>
                <p style="margin-left:-15px;">
                    <label>身分ID</label>
                    <input readonly type="text" value="@Model.fId_Role" />
                </p>
                <p style="margin-left:-15px;">
                    <label>會員ID</label>
                    <input readonly type="text" value="@Model.fId_Member" />
                </p>
                <p>
                    <label>暱稱</label>
                    <input readonly type="text" value="@Model.fNickName_Member" />
                </p>
                <p>
                    <label>姓氏</label>
                    <input readonly type="text" value="@Model.fLastName_Member" />
                </p>
                <p>
                    <label>名字</label>
                    <input readonly type="text" value="@Model.fFirstName_Member" />
                </p>
                <p>
                    <label>國家</label>
                    <input readonly type="text" value="@Model.fCountry_Member" />
                </p>
                <p>
                    <label>住所</label>
                    <input readonly type="text" value="@Model.fAdd_Member" />
                </p>
                <p>
                    <label>電話</label>
                    <input readonly type="text" value="@Model.fPhone_Member" />
                </p>
            </div>
            </div>
        </div>
    <form>
        <div class="form-group" style="display:inline-block;">
            <div>
                <img id="output" class="IMG" src="../@Model.fPhoto_Ad" />
            </div>
        </div>
        <div class="form-group" style="display:inline-block;">
            <div style="margin-left:10px;">
                <label style="color:whitesmoke;font-size:large;">地點位置</label><br />
                <input style="background-color: lightsteelblue;width:80px;" type="text" value="@Model.fId_Location" /><br />
                <label style="color:whitesmoke;font-size:large;">描述內容</label><br />
                <textarea readonly style="height:80px;width:320px;background-color:lightsteelblue;" maxlength="30">@Model.fContent_Ad</textarea><br /><br />
                <label style="color:whitesmoke;font-size:large;">方案</label><br />
                <input readonly type="text" style="width:80px;margin-top:-10px;margin-bottom:30px;background-color:lightsteelblue;" value="@Model.fSolution_Ad"><br />
            </div>
        </div>
        <div style="margin-left:600px;margin-top:-280px;position:relative;">
            @Html.ActionLink("審核通過", "pass", "backStage", new { id = Model.fId_Ad.ToString() }, new { @class = "btn btn-warning" })
        </div>
    </form>
</body>
</html>

