margin-right: 25%;@model homepage.ViewModel.CAdDetailVM
@{
    Layout = null;
}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
@*fontAwesome圖示CDN*@
<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet' />
@*sweetAlrt2 CDN*@
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<style>

    body {
        background-image: url("../../Content/灰色背景.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #detailData input {
        background-color: lightsteelblue;
    }

    #detailData label {
        color: whitesmoke;
    }

    .TopDiv {
        text-align: right;
        background-image: url("../../Content/black1.jpeg");
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 35px;
    }

    form {
        margin-left: 32%;
        margin-top: 60px;
        height: 715px;
        width: 720px;
        background-color: dimgrey;
        border-radius: 15px;
        border: solid 1px black;
    }

    .AdData {
        margin-top: 3px;
        margin-left: 10px;
        color: whitesmoke;
        font-weight: bold;
        font-size: 18px;
    }

    .IMG {
        width: 370px;
        height: 300px;
        border-radius: 15px;
        margin-bottom: 200px;
    }

    .BmemberData {
        margin-top: 10px;
        margin-left: 10px;
        color: whitesmoke;
        font-weight: bold;
        font-size: 18px;
    }

    .bottomDiv {
        background-image: url("../../Content/black1.jpeg");
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 35px;
        z-index: 1;
    }
</style>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>newCommercialData</title>
</head>
<body>
    <form>
        <div class="TopDiv">
            <label style="font-size:18px;color:whitesmoke;margin-right:15px;margin-top:5px;">@Html.ActionLink("回上一頁", "showApplyAD", "backStage", null, new { style = "color:whitesmoke;" })</label>
        </div>
        <p class="AdData">廣告申請資料</p>
        <div class="form-group" style="display:inline-block;">
            <div>
                <img id="output" class="IMG" src="../@Model.fPhoto_Ad" />
            </div>
        </div>
        <div class="form-group" style="display:inline-block;">
            <div style="margin-left:10px;">
                <label style="color:whitesmoke;font-size:large;">地點位置</label><br />
                <input style="background-color: lightsteelblue;width:320px;" type="text" value="@Model.fId_Location" /><br />
                <label style="color:whitesmoke;font-size:large;">描述內容</label><br />
                <textarea readonly style="height:80px;width:320px;background-color:lightsteelblue;" maxlength="30">@Model.fContent_Ad</textarea><br /><br />
                <label style="color:whitesmoke;font-size:large;">方案</label><br />
                <input readonly type="text" style="width:80px;margin-top:-10px;margin-bottom:30px;background-color:lightsteelblue;" value="@Model.fSolution_Ad"><br />
            </div>
        </div>
        <div style="margin-left:600px;margin-top:-285px;position:relative;">
            @Html.ActionLink("審核通過", "pass", "backStage", new { id = Model.fId_Ad.ToString() }, new { @class = "btn btn-warning" })
        </div>
        <div style="height:1px;border:dotted 1px whitesmoke;margin-top:40px;"></div>
        <p class="BmemberData">營利會員資料</p>
        <div id="detailData" class="form-row" style="margin-top:3px;margin-left:110px;">
            <div class="form-group col-md-3">
                <label>廣告ID</label>
                <input readonly type="text" value="@Model.fId_Ad" />
            </div>
            <div class="form-group col-md-3">
                <label>身分ID</label>
                <input readonly type="text" value="@Model.fId_Role" />
            </div>
            <div class="form-group col-md-3">
                <label>會員ID</label>
                <input readonly type="text" value="@Model.fId_Member" />
            </div>
            <div class="form-group col-md-3" style="margin-right:1px;">
                <label> 暱 稱 </label>
                <input readonly type="text" value="@Model.fNickName_Member" />
            </div>
            <div class="form-group col-md-3">
                <label> 姓 氏 </label>
                <input readonly type="text" value="@Model.fLastName_Member" />
            </div>
            <dvi class="form-group col-md-3">
                <label> 名 字 </label>
                <input readonly type="text" value="@Model.fFirstName_Member" />
            </dvi>
            <div class="form-group col-md-3" style="margin-right:1px;">
                <label> 國 家 </label>
                <input readonly type="text" value="@Model.fCountry_Member" />
            </div>
            <div class="form-group col-md-3">
                <label> 住 所 </label>
                <input readonly type="text" value="@Model.fAdd_Member" />
            </div>
            <div class="form-group col-md-3">
                <label> 電 話 </label>
                <input readonly type="text" value="@Model.fPhone_Member" />
            </div>
        </div>
        <div class="bottomDiv"></div>
    </form>
</body>
</html>

