@using homepage.Models

<nav class="navbar navbar-inverse" >
    <div class="container-fluid menu_self" style="background-color:#1C558E;">
        <div class="navbar-header">
            <img src="~/Content/favicon.png" style="width:50px; height:50px; padding-right:8px; object-fit:contain;" />
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#" onclick="showAdBlock()" style="font-family: Impact; font-size: 24px; color:#fdca40;">Fun Day Trip</a>
        </div>
        <ul class="nav navbar-nav nav_self">
            <li>
                <a href="#" onclick="showAdBlock();reload();hideAddNewLocationButtonk()" style="font-size:16px; font-weight:bold;">探索</a>
            </li>
            @if (Session[CDictionary.SK_MemberId].ToString() != CDictionary.SK_anonymous)
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 16px; font-weight: bold;">地點 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:showMyLoc()" onclick="myLaction(); myRount(); myLocationsshow(); myRoutesshow(); hideAdBlock(); hideAddRouteButton();">我的</a>
                        </li>
                        <li>
                            <a href="javascript:showFrLoc()" onclick="myfriendLocation(); myfriendRount(); myfriendRoutesshow(); myfriendLocationsshow(); hideAdBlock(); hideAddRouteButton();hideAddNewLocationButtonk();">追蹤中</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 16px; font-weight: bold;">路線 <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li>
                            <a href="javascript:showMyRou(@Session[CDictionary.SK_ActiveRoleId])" onclick="myLaction(); myRount(); myLocationsshow(); myRoutesshow(); hideAdBlock();hideAddNewLocationButtonk()">我的</a>
                        </li>
                        <li>
                            <a href="javascript:showFrLoc()" onclick="myfriendLocation(); myfriendRount(); myfriendRoutesshow(); myfriendLocationsshow();hideAdBlock(); hideAddRouteButton();hideAddNewLocationButtonk();">追蹤中</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size: 16px; font-weight: bold;">相簿 <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li>
                            <a onclick="hideAdBlock(); hideAddRouteButton();hideAddNewLocationButtonk()" href="javascript:showMyAlbums(@Session[CDictionary.SK_ActiveRoleId])">我的</a>
                        </li>
                        <li>
                            <a onclick="hideAdBlock(); hideAddRouteButton();hideAddNewLocationButtonk()" href="javascript:showMyFriendsAlbums(@Session[CDictionary.SK_ActiveRoleId])">追蹤中</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Navigation", "Game")" target="_blank" style="font-size: 16px; font-weight: bold;">遊戲</a>
                </li>
                <li>
                    <a href="javascript:followcon()" onclick="hideAdBlock(); hideAddNewLocationButtonk(); hideAddRouteButton();" style="font-size: 16px; font-weight: bold;">追蹤/粉絲</a>
                    @*<a href="javascript:fansModal()">追蹤/粉絲</a>*@
                </li>

                <li>
                    <a id="newAD" style="display:none; font-size:16px; font-weight:bold;" @*href="javascript:showMyLoc()"*@ onclick="makeIdentity(); hideAdBlock(); hideAddRouteButton();">新增廣告</a>
                </li>
                <li>
                    <a href="@Url.Action("ShowHeatMap", "Statistic")" style="font-size: 16px; font-weight: bold;">統計與分析</a>
                </li>
                <li>
                    <a href="javascript:callAdmin()" value="9" name="Fundaytrip管理員" onclick="hideAdBlock(); hideAddNewLocationButtonk(); hideAddRouteButton(); " style="font-size: 16px; font-weight: bold;">聯絡管理員</a>
                </li>
                <li class="dropdown">
                    <a id="backstage" style="display:none; font-size:16px; font-weight:bold;" class="dropdown-toggle" data-toggle="dropdown" href="#" onclick="hideAddRouteButton();">管理員後台<span class="caret"></span></a>
                    @*<a id="backstage" style="display:none;" href="@Url.Action("indexBack", "backStage")">管理員後台</a>*@
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("showAllMembers", "backStage")">會員查詢</a>
                        </li>
                        <li>
                            <a href="@Url.Action("showApplyAD", "backStage")">審核廣告</a>
                        </li>
                        <li>
                            <a href="@Url.Action("reportedList", "backStage")">檢舉名單</a>
                        </li>
                        <li>
                            <a href="javascript:createNote()">發佈通知</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="https://drive.google.com/file/d/1tTdzQncMUZPdl19F3CdujaGIWnMhMWNm/view?usp=sharing" onclick="hideAdBlock(); hideAddRouteButton(); hideAddNewLocationButtonk();" style="font-size: 16px; font-weight: bold;">關於我們</a>
                </li>
            }
            <li style="position:absolute;right:10px">
                @*開啟個人資料對話方塊*@
                <a href="#" id="toggle2" style="font-size: 16px; font-weight: bold;">使用者</a>
            </li>
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php" method="post" id="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="txtkeyword" id="key">
            </div>
            <button type="button" class="btn btn-default btn_search" name="查詢" id="post" onclick="SearchLocation(); SearchRount(); locationshow(); Routeshow(); hideAdBlock();">查詢</button>
        </form>

    </div>
</nav>


<script>


    function showAdBlock() {
        $("#foot-content").css('display','block')
    };

    function hideAdBlock() {
        $("#foot-content").css('display', 'none')
    };


    function showAddNewLocationButton() {
        $("#addNewLocationButton").css('display', 'none')
    };

    function hideAddNewLocationButtonk() {
        $("#addNewLocationButton").css('display', 'none')
    };

    function myfriendLocationsshow() {
        var objData = {
            data: @Session[CDictionary.SK_ActiveRoleId],
        }
        $.ajax({
            url: "/Home/myfriendLocationsshow",
            type: "POST",
            data: objData,
            //data: { }
        }).done(function (response) {
            //console.log(response);
            LocArray = [];
            for (var i = 0; i < response.length; i++) {
                Coords_Location = [response[i].fX_Coordinate, response[i].fY_Coordinate];
                Id_Location = response[i].fId_Location;
                locJson =
                {
                    'type': 'Feature',
                    'properties': {
                        'description': Id_Location
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': Coords_Location
                    }
                };
                LocArray.push(locJson);
            }//end for
            if (map.getLayer("places")) {
                map.removeLayer("places");
            }

            if (map.getLayer("routes")) {
                map.removeLayer("routes");
            }
            if (map.getSource("places")) {
                map.removeSource("places");
            }

            if (map.getSource("routes")) {
                map.removeSource("routes");
            }
            Routeshow();

        }).fail(function (xhr) {
            console.log(xhr.status + xhr.responseText);
        });//end ajax
    };

        function myfriendRoutesshow() {
        var objData = {
            data: @Session[CDictionary.SK_ActiveRoleId],
        }
        $.ajax({
            url: "/Home/myfriendRoutesshow",
            type: "POST",
            data: objData,
        }).done(function (response) {
            RouArray = [];
            for (var i = 0; i < response.length; i++) {
                Id_Route = response[i].fId_Route;
                //console.log(Id_Route);
                Path_Route = GetRoutePathArray(response[i].fPath_Route);

                rouJson =
                {
                    'type': 'Feature',
                    'properties': {
                        'description': Id_Route
                    },
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': Path_Route
                    }
                };
                RouArray.push(rouJson);
                //console.log(RouArray);

            }//end for
            //console.log(RouArray);
            if (map.getLayer("places")) {
                map.removeLayer("places");
            }

            if (map.getLayer("routes")) {
                map.removeLayer("routes");
            }
            if (map.getSource("places")) {
                map.removeSource("places");
            }

            if (map.getSource("routes")) {
                map.removeSource("routes");
            }
            // reloadRoute();
            //Routeshow();
            reloadlocation();
        }).fail(function (xhr) {
            console.log(xhr.status + xhr.responseText);
        });//end ajax
    };

    function myfriendRount() {
        var objData = {
            data: @Session[CDictionary.SK_ActiveRoleId],
        }
        $.ajax({
            type: "POST",
            url: "/Home/myfriendRount",
            data: objData,
            success: function (data) {
                var rount2 = [];
                var rounts = document.getElementById('rountshow');
                for (var i in data) {

                    rount2 += '<div class="tab_div" ><input type="button" class="action-button shadow animate blue tab_roushow" onclick="zoomToRoute';
                    rount2 += "('" + data[i].fId_Route + "')" + '"';
                    rount2 += 'value =';
                    rount2 += '"' + data[i].fName_Route + '"';
                    rount2 += ' /></div >';
                }
                rounts.innerHTML = rount2;
            },
            error: function () {
                alert("error");
            }
        })
    }

    function myfriendLocation() {
        var objData = {
            data: @Session[CDictionary.SK_ActiveRoleId],
        }
        $.ajax({
            type: "POST",
            url: "/Home/myfriendLocation",
            data: objData,
            success: function (data) {
                var loc2 = [];
                var locations = document.getElementById('locationshow');
                for (var i in data) {

                    loc2 += '<div class="tab_div" ><input type="button" class="action-button shadow animate green tab_locshow" onclick="zoomToLocation';
                    loc2 += "('" + data[i].fId_Location + "')" + '"';
                    loc2 += 'value =';
                    loc2 += '"' + data[i].fName_Location + '"';
                    loc2 += ' /></div >';

                }
                locations.innerHTML = loc2;
            },
            error: function () {
                alert("error");
            }
        })
    }

    function myLocationsshow() {
        var objData = {
            data: @Session[CDictionary.SK_ActiveRoleId],
        }
        $.ajax({
            url: "/Home/myLocationsshow",
            type: "POST",
            data: objData,
            //data: { }
        }).done(function (response) {
            //console.log(response);
            LocArray = [];

            for (var i = 0; i < response.length; i++) {
                Coords_Location = [response[i].fX_Coordinate, response[i].fY_Coordinate];
                Id_Location = response[i].fId_Location;
                locJson =
                {
                    'type': 'Feature',
                    'properties': {
                        'description': Id_Location
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': Coords_Location
                    }
                };
                LocArray.push(locJson);
            }//end for
            if (map.getLayer("places")) {
                map.removeLayer("places");
            }

            if (map.getLayer("routes")) {
                map.removeLayer("routes");
            }
            if (map.getSource("places")) {
                map.removeSource("places");
            }

            if (map.getSource("routes")) {
                map.removeSource("routes");
            }
            //Routeshow();
            reloadlocation();
        }).fail(function (xhr) {
            console.log(xhr.status + xhr.responseText);
        });//end ajax
    }
    function myRoutesshow() {
        var objData = {
            data: @Session[CDictionary.SK_ActiveRoleId],
        }
        $.ajax({
            url: "/Home/myRoutesshow",
            type: "POST",
            data: objData,
        }).done(function (response) {
            RouArray = [];
            for (var i = 0; i < response.length; i++) {
                Id_Route = response[i].fId_Route;
                //console.log(Id_Route);
                Path_Route = GetRoutePathArray(response[i].fPath_Route);

                rouJson =
                {
                    'type': 'Feature',
                    'properties': {
                        'description': Id_Route
                    },
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': Path_Route
                    }
                };
                RouArray.push(rouJson);
                //console.log(RouArray);

            }//end for
            //console.log(RouArray);
            if (map.getLayer("places")) {
                map.removeLayer("places");
            }

            if (map.getLayer("routes")) {
                map.removeLayer("routes");
            }
            if (map.getSource("places")) {
                map.removeSource("places");
            }

            if (map.getSource("routes")) {
                map.removeSource("routes");
            }
            // reloadRoute();
            //Routeshow();
            reloadlocation();
        }).fail(function (xhr) {
            console.log(xhr.status + xhr.responseText);
        });//end ajax
    };

    function myRount() {
        var objData = {
            data: @Session[CDictionary.SK_ActiveRoleId],
        }
        //JSON.stringify(objData)
        $.ajax({
            type: "POST",
            url: "/Home/myRount",
            data: objData,
            success: function (data) {
                var rount2 = [];
                var rounts = document.getElementById('rountshow');
                for (var i in data) {

                    rount2 += '<div class="tab_div" ><input type="button" class="action-button shadow animate blue tab_roushow" onclick="zoomToRoute';
                    rount2 += "('" + data[i].fId_Route + "')" + '"';
                    rount2 += 'value =';
                    rount2 += '"' + data[i].fName_Route + '"';
                    rount2 += ' /></div >';

                }
                rounts.innerHTML = rount2;
            },
            error: function () {
                alert("error");
            }
        })
    }

    function myLaction() {
        var objData = {
            data: @Session[CDictionary.SK_ActiveRoleId],
        }
        $.ajax({
            type: "POST",
            url: "/Home/myLocation",
            data: objData,
            success: function (data) {
                var loc2 = [];
                var locations = document.getElementById('locationshow');
                for (var i in data) {

                    loc2 += '<div class="tab_div" ><input type="button" class="action-button shadow animate green tab_locshow" onclick="zoomToLocation';
                    loc2 += "('" + data[i].fId_Location + "')" + '"';
                    loc2 += 'value =';
                    loc2 += '"' + data[i].fName_Location + '"';
                    loc2 += ' /></div >';

                }
                locations.innerHTML = loc2;
            },
            error: function () {
                alert("error");
            }
        })
    }

    function SearchLocation() {
        $('#LeftSideMenu').BootSideMenu.open();
        $("#tab_loc").text("查詢地點");
        $("#tab_rou").text("查詢路線");

        var objData = {
            data: $("#key").val(),
        }
        //JSON.stringify(objData)
        $.ajax({
            type: "POST",
            url: "/Home/SearchLocation",
            data: objData,
            success: function (data) {
                var loc2 = [];
                var locations = document.getElementById('locationshow');
                for (var i in data) {

                    loc2 += '<div class="tab_div" ><input type="button" class="action-button shadow animate green tab_locshow" onclick="zoomToLocation';
                    loc2 += "('" + data[i].fId_Location + "')" + '"';
                    loc2 += 'value =';
                    loc2 += '"' + data[i].fName_Location + '"';
                    loc2 += ' /></div >';

                }
                locations.innerHTML = loc2;
            },
            error: function () {
                alert("error");
            }
        })
    }
    function SearchRount() {
        var objData = {
            data: $("#key").val(),
        }
        //JSON.stringify(objData)
        $.ajax({
            type: "POST",
            url: "/Home/SearchRount",
            data: objData,
            success: function (data) {
                var rount2 = [];
                var rounts = document.getElementById('rountshow');
                for (var i in data) {

                    rount2 += '<div class="tab_div" ><input type="button" class="action-button shadow animate blue tab_roushow" onclick="zoomToRoute';
                    rount2 += "('" + data[i].fId_Route + "')" + '"';
                    rount2 += 'value =';
                    rount2 += '"' + data[i].fName_Route + '"';
                    rount2 += ' /></div >';
                }
                rounts.innerHTML = rount2;
            },
            error: function (xhr) {
                    console.log(xhr.status + xhr.responseText);
            }
        })
    }

    function locationshow() {
        var objData = {
            data: $("#key").val(),
        }
        $.ajax({
            url: "/Home/getAllLocationsshow",
            type: "POST",
            data: objData,
            //data: { }
        }).done(function (response) {
            //console.log(response);
            LocArray = [];
            for (var i = 0; i < response.length; i++) {
                Coords_Location = [response[i].fX_Coordinate, response[i].fY_Coordinate];
                Id_Location = response[i].fId_Location;
                locJson =
                {
                    'type': 'Feature',
                    'properties': {
                        'description': Id_Location
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': Coords_Location
                    }
                };
                LocArray.push(locJson);
            }//end for
            if (map.getLayer("places")) {
                map.removeLayer("places");
            }

            if (map.getLayer("routes")) {
                map.removeLayer("routes");
            }
            if (map.getSource("places")) {
                map.removeSource("places");
            }

            if (map.getSource("routes")) {
                map.removeSource("routes");
            }
            Routeshow();

        }).fail(function (xhr) {
            console.log(xhr.status + xhr.responseText);
        });//end ajax
    }

    //"取得路線"的第一個坐標，fly()要用到k
    function GetRoutePathArray(RouteInnerHTMLPath) {
        var RoutePath = new Array();
        var tempPoint = new Array();
        var strRoutePath = (RouteInnerHTMLPath + "").split(',');
        for (var i = 0; i < strRoutePath.length; i += 2) {
            tempPoint[i / 2] = new Array();
            tempPoint[i / 2][1] = strRoutePath[i + 1];
            tempPoint[i / 2][0] = strRoutePath[i];
            RoutePath.push(tempPoint[i / 2]);
        }
        return RoutePath;
    }

    //重新放入路線
    //路線所有資訊組成json，放到陣列
    var RouArray;
    function Routeshow() {
        var objData = {
            data: $("#key").val(),
        }
        $.ajax({
            url: "/Home/getAllRoutesshow",
            type: "POST",
            data: objData,
        }).done(function (response) {

            RouArray = [];

            for (var i = 0; i < response.length; i++) {
                //console.log("xyz" + response[i].fId_Route);
                Id_Route = response[i].fId_Route;
                //console.log(Id_Route);
                Path_Route = GetRoutePathArray(response[i].fPath_Route);
                rouJson =
                {
                    'type': 'Feature',
                    'properties': {
                        'description': Id_Route
                    },
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': Path_Route
                    }
                };
                RouArray.push(rouJson);
                //console.log(RouArray);

            }//end for
            //console.log(RouArray);
            if (map.getLayer("places")) {
                map.removeLayer("places");
            }

            if (map.getLayer("routes")) {
                map.removeLayer("routes");
            }
            if (map.getSource("places")) {
                map.removeSource("places");
            }

            if (map.getSource("routes")) {
                map.removeSource("routes");
            }
            // reloadRoute();
            reloadlocation();
        }).fail(function (xhr) {
            console.log(xhr.status + xhr.responseText);
        });//end ajax

    };

    //通知功能 10/13 王詠平
    async function createNote() {
        const { value: formValues } = await Swal.fire({
            title: '寄送通知',
            html:
                '<select id="SendtoType" class="swal2-input">' +
                '<option value="-1">給所有人</option>' +
                '<option value="1">給一般會員</option>' +
                '<option value="2">給營利會員</option>' +
                '</select>' +
                '<input id="noteMessage" class="swal2-input">',
            showCancelButton: true,
            confirmButtonText: '寄送',
            cancelButtonText: '取消',
            focusConfirm: false,
            preConfirm: () => {
                return [
                    document.getElementById('SendtoType').value,
                    document.getElementById('noteMessage').value
                ]
            }
        })

        if (formValues) {
            //Swal.fire(JSON.stringify(formValues));
            noteToUser(formValues[0], formValues[1]);

        }

    }
</script>
<script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
<script src="~/signalr/hubs"></script>
<script>
    var hub = $.connection.myHub;
    $.connection.hub.start().done();


    function noteToUser(type, message) {
        hub.server.notes(type, message);
    }

    hub.client.notes = function (type, message) {
        let role_type = $("#role_type").attr("value");
        if (type === -1) {

                console.log(message);

                var response = $.ajax({
                    url: "@Url.Action("postByAdmin", "Note")",
                    type: "POST",
                    async: false,
                    data: { type: type, message: message },
                    dataType: "text"
                    }).done(function (response) {
                    }).responseText;

            console.log(response);

                    Swal.fire({
                    position: 'center-end',
                    title: '通知!',
                    width: '10%',
                    text: response.fMessage_Note,
                    backdrop: 'rgba(0, 0, 0, 0)',
                    showConfirmButton: false,
                    timer: 1500
                    });
        } else if (type === role_type) {

                    var response = $.ajax({
                    url: "@Url.Action("postByAdmin", "Note")",
                    type: "POST",
                    async: false,
                    data: { type: type, message: message },
                    dataType: "text"
                    }).done(function (response) {
                    }).responseText;

                    console.log(response);

                    Swal.fire({
                    position: 'center-end',
                    title: '通知!',
                    width: '10%',
                    text: response.fMessage_Note,
                    backdrop: 'rgba(0, 0, 0, 0)',
                    showConfirmButton: false,
                    timer: 3000
                    });
                    };
                    };

</script>


