@using homepage.Models
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">FunDayTrip</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#">探索</a>
            </li>
            @if (Session[CDictionary.SK_MemberId].ToString() != CDictionary.SK_anonymous)
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">地點 <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li><a href="javascript:showMyLoc()" onclick="myLaction(); myRount(); mylocationshow(); myRouteshow();">我的</a></li>
                        <li><a href="#" onclick="myfriendLocation(); myfriendRount(); myfriendRoutesshow(); myflocation();">追蹤中</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">路線 <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li><a href="javascript:showMyRou(@Session[CDictionary.SK_ActiveRoleId])" onclick="myLaction(); myRount(); mylocationshow(); myRouteshow();">我的</a></li>
                        <li><a href="#">追蹤中</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">相簿 <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li><a href="javascript:showMyAlbums(@Session[CDictionary.SK_ActiveRoleId])">我的</a></li>
                        <li><a href="#">追蹤中</a></li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Navigation", "Game")" target="_blank">遊戲</a>
                </li>
                <li>
                    <a href="javascript:followcon()">追蹤/粉絲</a>
                    @*<a href="javascript:fansModal()">追蹤/粉絲</a>*@
                </li>

                <li>
                    <a id="newAD" style="display:none;" @*href="javascript:showMyLoc()"*@ onclick="makeIdentity()">新增廣告</a>
                </li>
                <li>
                    <a href="@Url.Action("ShowHeatMap", "Statistic")">統計與分析</a>
                </li>
                <li>
                    <a href="#">聯絡管理員</a>
                </li>
                <li class="dropdown">
                    <a id="backstage" style="display:none;" class="dropdown-toggle" data-toggle="dropdown" href="#">管理員後台<span class="caret"></span></a>
                    @*<a id="backstage" style="display:none;" href="@Url.Action("indexBack", "backStage")">管理員後台</a>*@
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("showAllMembers", "backStage")">會員查詢</a></li>
                        <li><a href="@Url.Action("showApplyAD", "backStage")">審核廣告</a></li>
                        <li><a href="@Url.Action("reportedList", "backStage")">檢舉名單</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">關於我們</a>
                </li>
            }
        </ul>
        <form class="navbar-form navbar-left" action="/action_page.php" method="post" id="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="txtkeyword" id="key">
            </div>
            <button type="button" class="btn btn-default" name="查詢" id="post" onclick="SearchLocation(); SearchRount(); locationshow(); Routeshow();">查詢</button>
        </form>
    </div>
</nav>

<script>
    function myflocation() {
        var objData = {
            data: 3,
        }
        $.ajax({
            url: "/Home/myfriendLocationsshow",
            type: "POST",
            data: objData,
            //data: { }
        }).done(function (response) {
            //console.log(response);
            LocArray = [];
            for (var i = 0; i < response.length; i++) {
                Coords_Location = [response[i].fX_Coordinate, response[i].fY_Coordinate];
                Id_Location = response[i].fId_Location;
                locJson =
                {
                    'type': 'Feature',
                    'properties': {
                        'description': Id_Location
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': Coords_Location
                    }
                };
                LocArray.push(locJson);
            }//end for
            if (map.getLayer("places")) {
                map.removeLayer("places");
            }

            if (map.getLayer("routes")) {
                map.removeLayer("routes");
            }
            if (map.getSource("places")) {
                map.removeSource("places");
            }

            if (map.getSource("routes")) {
                map.removeSource("routes");
            }
            Routeshow();

        }).fail(function (xhr) {
            console.log(xhr.status + xhr.responseText);
        });//end ajax
    };
    function myfriendRoutesshow() {
        var objData = {
            data: 3,
        }
        $.ajax({
            url: "/Home/myfriendRoutesshow",
            type: "POST",
            data: objData,
        }).done(function (response) {
            RouArray = [];
            for (var i = 0; i < response.length; i++) {
                Id_Route = response[i].fId_Route;
                //console.log(Id_Route);
                Path_Route = GetRoutePathArray(response[i].fPath_Route);

                rouJson =
                {
                    'type': 'Feature',
                    'properties': {
                        'description': Id_Route
                    },
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': Path_Route
                    }
                };
                RouArray.push(rouJson);
                //console.log(RouArray);

            }//end for
            console.log(RouArray);
            if (map.getLayer("places")) {
                map.removeLayer("places");
            }

            if (map.getLayer("routes")) {
                map.removeLayer("routes");
            }
            if (map.getSource("places")) {
                map.removeSource("places");
            }

            if (map.getSource("routes")) {
                map.removeSource("routes");
            }
            // reloadRoute();
            reloadlocation();
        }).fail(function (xhr) {
            console.log(xhr.status + xhr.responseText);
        });//end ajax
    };

    function myfriendRount() {
        var objData = {
            data: 3,
        }
        $.ajax({
            type: "POST",
            url: "/Home/myfriendRount",
            data: objData,
            success: function (data) {
                var rount2 = [];
                for (var i in data) {
                    var rounts = document.getElementById('rountshow');
                    rount2 += '<div><input type="button" onclick="zoomToRoute';
                    rount2 += "('" + data[i].fId_Route + "')" + '"';
                    rount2 += 'value =';
                    rount2 += '"' + data[i].fName_Route + '"';
                    rount2 += ' /></div >';
                }
                rounts.innerHTML = rount2;
            },
            error: function () {
                alert("error");
            }
        })
    }

    function myfriendLocation() {
        var objData = {
            data: 3,
        }
        $.ajax({
            type: "POST",
            url: "/Home/myfriendLocation",
            data: objData,
            success: function (data) {
                var loc2 = [];
                for (var i in data) {
                    var locations = document.getElementById('locationshow');
                    loc2 += '<div><input type="button" onclick="zoomToLocation';
                    loc2 += "('" + data[i].fId_Location + "')" + '"';
                    loc2 += 'value =';
                    loc2 += '"' + data[i].fName_Location + '"';
                    loc2 += ' /></div >';

                }
                locations.innerHTML = loc2;
            },
            error: function () {
                alert("error");
            }
        })
    }

    function mylocationshow() {
        var objData = {
            data: 3,
        }
        $.ajax({
            url: "/Home/myLocationsshow",
            type: "POST",
            data: objData,
            //data: { }
        }).done(function (response) {
            //console.log(response);
            LocArray = [];
            for (var i = 0; i < response.length; i++) {
                Coords_Location = [response[i].fX_Coordinate, response[i].fY_Coordinate];
                Id_Location = response[i].fId_Location;
                locJson =
                {
                    'type': 'Feature',
                    'properties': {
                        'description': Id_Location
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': Coords_Location
                    }
                };
                LocArray.push(locJson);
            }//end for
            if (map.getLayer("places")) {
                map.removeLayer("places");
            }

            if (map.getLayer("routes")) {
                map.removeLayer("routes");
            }
            if (map.getSource("places")) {
                map.removeSource("places");
            }

            if (map.getSource("routes")) {
                map.removeSource("routes");
            }
            Routeshow();

        }).fail(function (xhr) {
            console.log(xhr.status + xhr.responseText);
        });//end ajax
    }
    function myRouteshow() {
        var objData = {
            data: 3,
        }
        $.ajax({
            url: "/Home/myRoutesshow",
            type: "POST",
            data: objData,
        }).done(function (response) {
            RouArray = [];
            for (var i = 0; i < response.length; i++) {
                Id_Route = response[i].fId_Route;
                //console.log(Id_Route);
                Path_Route = GetRoutePathArray(response[i].fPath_Route);

                rouJson =
                {
                    'type': 'Feature',
                    'properties': {
                        'description': Id_Route
                    },
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': Path_Route
                    }
                };
                RouArray.push(rouJson);
                //console.log(RouArray);

            }//end for
            console.log(RouArray);
            if (map.getLayer("places")) {
                map.removeLayer("places");
            }

            if (map.getLayer("routes")) {
                map.removeLayer("routes");
            }
            if (map.getSource("places")) {
                map.removeSource("places");
            }

            if (map.getSource("routes")) {
                map.removeSource("routes");
            }
            // reloadRoute();
            reloadlocation();
        }).fail(function (xhr) {
            console.log(xhr.status + xhr.responseText);
        });//end ajax
    };

    function myRount() {
        var objData = {
            data: 3,
        }
        //JSON.stringify(objData)
        $.ajax({
            type: "POST",
            url: "/Home/myRount",
            data: objData,
            success: function (data) {
                var rount2 = [];
                for (var i in data) {
                    var rounts = document.getElementById('rountshow');
                    rount2 += '<div><input type="button" onclick="zoomToRoute';
                    rount2 += "('" + data[i].fId_Route + "')" + '"';
                    rount2 += 'value =';
                    rount2 += '"' + data[i].fName_Route + '"';
                    rount2 += ' /></div >'; 

                }
                rounts.innerHTML = rount2;
            },
            error: function () {
                alert("error");
            }
        })
    }

    function myLaction() {
        var objData = {
            data: 3,
        }
        $.ajax({
            type: "POST",
            url: "/Home/myLocation",
            data: objData,
            success: function (data) {
                var loc2 = [];
                for (var i in data) {
                    var locations = document.getElementById('locationshow');
                    loc2 += '<div><input type="button" onclick="zoomToLocation';
                    loc2 += "('" + data[i].fId_Location + "')" + '"';
                    loc2 += 'value =';
                    loc2 += '"' + data[i].fName_Location + '"';
                    loc2 += ' /></div >';

                }
                locations.innerHTML = loc2;
            },
            error: function () {
                alert("error");
            }
        })
    }

    function SearchLocation() {
        var objData = {
            data: $("#key").val(),
        }
        //JSON.stringify(objData)
        $.ajax({
            type: "POST",
            url: "/Home/SearchLocation",
            data: objData,
            success: function (data) {
                var loc2 = [];
                var locations = document.getElementById('locationshow');
                for (var i in data) {
                    
                    loc2 += '<div><input type="button" onclick="zoomToLocation';
                    loc2 += "('" + data[i].fId_Location + "')" + '"';
                    loc2 += 'value =';
                    loc2 += '"' + data[i].fName_Location + '"';
                    loc2 += ' /></div >';

                }
                locations.innerHTML = loc2;
            },
            error: function () {
                alert("error");
            }
        })
    }
    function SearchRount() {
        var objData = {
            data: $("#key").val(),
        }
        //JSON.stringify(objData)
        $.ajax({
            type: "POST",
            url: "/Home/SearchRount",
            data: objData,
            success: function (data) {
                var rount2 = [];
                var rounts = document.getElementById('rountshow');
                for (var i in data) {
                    
                    rount2 += '<div><input type="button" onclick="zoomToRoute';
                    rount2 += "('" + data[i].fId_Route + "')" + '"';
                    rount2 += 'value =';
                    rount2 += '"' + data[i].fName_Route + '"';
                    rount2 += ' /></div >';
                }
                rounts.innerHTML = rount2;
            },
            error: function (xhr) {
                    console.log(xhr.status + xhr.responseText);
            }
        })
    }

    function locationshow() {
        var objData = {
            data: $("#key").val(),
        }
        $.ajax({
            url: "/Home/getAllLocationsshow",
            type: "POST",
            data: objData,
            //data: { }
        }).done(function (response) {
            //console.log(response);
            LocArray = [];
            for (var i = 0; i < response.length; i++) {
                Coords_Location = [response[i].fX_Coordinate, response[i].fY_Coordinate];
                Id_Location = response[i].fId_Location;
                locJson =
                {
                    'type': 'Feature',
                    'properties': {
                        'description': Id_Location
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': Coords_Location
                    }
                };
                LocArray.push(locJson);
            }//end for
            if (map.getLayer("places")) {
                map.removeLayer("places");
            }

            if (map.getLayer("routes")) {
                map.removeLayer("routes");
            }
            if (map.getSource("places")) {
                map.removeSource("places");
            }

            if (map.getSource("routes")) {
                map.removeSource("routes");
            }
            Routeshow();

        }).fail(function (xhr) {
            console.log(xhr.status + xhr.responseText);
        });//end ajax
    }

    //"取得路線"的第一個坐標，fly()要用到k
    function GetRoutePathArray(RouteInnerHTMLPath) {
        var RoutePath = new Array();
        var tempPoint = new Array();
        var strRoutePath = (RouteInnerHTMLPath + "").split(',');
        for (var i = 0; i < strRoutePath.length; i += 2) {
            tempPoint[i / 2] = new Array();
            tempPoint[i / 2][1] = strRoutePath[i + 1];
            tempPoint[i / 2][0] = strRoutePath[i];
            RoutePath.push(tempPoint[i / 2]);
        }
        return RoutePath;
    }

    //重新放入路線
    //路線所有資訊組成json，放到陣列
    var RouArray;
    function Routeshow() {
        var objData = {
            data: $("#key").val(),
        }
        $.ajax({
            url: "/Home/getAllRoutesshow",
            type: "POST",
            data: objData,
        }).done(function (response) {

            RouArray = [];

            for (var i = 0; i < response.length; i++) {
                console.log("xyz" + response[i].fId_Route);
                Id_Route = response[i].fId_Route;
                //console.log(Id_Route);
                Path_Route = GetRoutePathArray(response[i].fPath_Route);
                rouJson =
                {
                    'type': 'Feature',
                    'properties': {
                        'description': Id_Route
                    },
                    'geometry': {
                        'type': 'LineString',
                        'coordinates': Path_Route
                    }
                };
                RouArray.push(rouJson);
                //console.log(RouArray);

            }//end for
            console.log(RouArray);
            if (map.getLayer("places")) {
                map.removeLayer("places");
            }

            if (map.getLayer("routes")) {
                map.removeLayer("routes");
            }
            if (map.getSource("places")) {
                map.removeSource("places");
            }

            if (map.getSource("routes")) {
                map.removeSource("routes");
            }
            // reloadRoute();
            reloadlocation();
        }).fail(function (xhr) {
            console.log(xhr.status + xhr.responseText);
        });//end ajax

    };


</script>


